<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.conexion_db" connectionString="Data Source=LAB4PC03\SQLEXPRESS;Initial Catalog=correo-sp-2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>